<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="../resources/css/cards.css" rel="stylesheet">
    <title>Page Title</title>
  </head>
  <body>
    <!--     Navigation Bar      -->
    <div class = "langbar">
  		<img src= "https://image.flaticon.com/icons/svg/25/25694.svg" alt="house" align="left" width="40" >
      Español | 官話 | Français
    </div>

    <!-- Cards  -->
    <div class="card">
    <div class="container">
      <h4 style="text-align:left;"><b>
        Harvest of Hope Pantry
        <span style="float:right;">
          0.0 miles
        </span>
      </b></h4>

      <div class="row">
      Tags:
      <div class = "column1">
        <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
      </div>
      <div class = "column2">
        <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
      </div>
      <div class = "column3">
        <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
      </div>
      <div class = "available">
        10/100 Spots Available
      </div>
        <div class = "leftbutton">
          <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo1')">MORE INFO</button>
        </div>
        <div class = "rightbutton">
          <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections1')">GET DIRECTIONS</button>
        </div>
          <div id="moreInfo1" class="dropdown-content">
          <p>
            We offer a client choice shopping experience where individuals select preferred foods within our shopping allowances.
            We are the only food pantry in Boulder that serves everyone who comes to the door. By offering separate shopping times for Clients with Kitchens and Clients without Kitchens, we address the individual needs of both populations.
            For our Clients without Kitchens, the pantry ensures that their shopping experience allows them to leave with a daily amount of supplemental food to fill the gap that other services are unable to offer. Providing easy-to-eat foods, such as protein bars, pop-top canned items, yogurt, produce and fresh sandwiches, gives clients easy-to-transport foods.
          </p>
          <table>
            <tr><th>Sunday</th><td>Closed</td></tr>
            <tr><th>Monday</th><td>9am - 11pm</td></tr>
            <tr><th>Tuesday</th><td>9am - 11pm</td></tr>
            <tr><th>Wednesday</th><td>9am - 11pm</td></tr>
            <tr><th>Thursday</th><td>9am - 11pm</td></tr>
            <tr><th>Friday</th><td>9am - 11pm</td></tr>
            <tr><th>Saturday</th><td>Closed</td></tr>
          </table>
          </div>
          <p id="getDirections1" class="dropdown-content">
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d12222.260095459036!2d-105.2629211617081!3d40.01816267061338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc72ca13c0f%3A0x8c16c3750920079a!2sBaseline%20Sub%2C%20Boulder%2C%20CO!3m2!1d40.0071927!2d-105.2516629!4m5!1s0x876bee79fe3bc45b%3A0x5e4d6ba3b0e749b6!2sharvest%20of%20hope%20pantry!3m2!1d40.0287394!2d-105.25459389999999!5e0!3m2!1sen!2sus!4v1582474384985!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </p>
        </div>
      </div>
    </div>

    <!-- Cards  -->
    <div class="card">
    <div class="container">
      <h4 style="text-align:left;"><b>
        Emergency Family Assistance Association
        <span style="float:right;">
          0.0 miles
        </span>
      </b></h4>

      <div class="row">
      Tags:
      <div class = "column1">
        <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
      </div>
      <div class = "column2">
        <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
      </div>
      <div class = "column3">
        <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
      </div>
      <div class = "available">
        10/100 Spots Available
      </div>
        <div class = "leftbutton">
          <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo2')">MORE INFO</button>
        </div>
        <div class = "rightbutton">
          <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections2')">GET DIRECTIONS</button>
        </div>
          <div id="moreInfo2" class="dropdown-content">
          <p>
          EFAA helps those in our community whose immediate needs for food, shelter and other basic necessities cannot be adequately met by other means, and supports their efforts toward financial stability or self-sufficiency.
          <table>
            <tr><th>Sunday</th><td>Closed</td></tr>
            <tr><th>Monday</th><td>9:30am - 4pm</td></tr>
            <tr><th>Tuesday</th><td>9:30am - 4pm</td></tr>
            <tr><th>Wednesday</th><td>12am - 4pm</td></tr>
            <tr><th>Thursday</th><td>9:30am - 6pm</td></tr>
            <tr><th>Friday</th><td>9:30am - 4pm</td></tr>
            <tr><th>Saturday</th><td>Closed</td></tr>
          </table>
          </div>
          <p id="getDirections2" class="dropdown-content">
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d24439.263737621033!2d-105.27815691704106!3d40.032834173656006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc3c4b2249b%3A0xa0ffd9dd53fef542!2sCU%20Boulder%20East%20Campus%2C%20Boulder%2C%20CO!3m2!1d40.011186699999996!2d-105.2493373!4m5!1s0x876beefcd383f23d%3A0xed545f70d47f7388!2sEmergency%20Family%20Assistance%20Association%2C%201575%20Yarmouth%20Ave%2C%20Boulder%2C%20CO%2080304!3m2!1d40.058424699999996!2d-105.2777941!5e0!3m2!1sen!2sus!4v1582475521526!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </p>
        </div>
      </div>
    </div>

    <!-- Cards  -->
    <div class="card">
    <div class="container">
      <h4 style="text-align:left;"><b>
        Boulder Food Rescue
        <span style="float:right;">
          0.0 miles
        </span>
      </b></h4>

      <div class="row">
      Tags:
      <div class = "column1">
        <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
      </div>
      <div class = "column2">
        <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
      </div>
      <div class = "column3">
        <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
      </div>
      <div class = "available">
        10/100 Spots Available
      </div>
        <div class = "leftbutton">
          <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo3')">MORE INFO</button>
        </div>
        <div class = "rightbutton">
          <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections3')">GET DIRECTIONS</button>
        </div>
          <div id="moreInfo3" class="dropdown-content">
          <p>
            Boulder Food Rescue aims to create a more just and less wasteful food system. We facilitate the sustainable redistribution of healthy food that would otherwise be wasted to low-income communities, by bicycle. We work with communities to facilitate their own food redistribution and create decentralized systems to bypass barriers to food access. Our work envisions a world in which everyone has equitable access to healthy food.
          </p>
          <table>
            <tr><th>Sunday</th><td>Closed</td></tr>
            <tr><th>Monday</th><td>8am - 6pm</td></tr>
            <tr><th>Tuesday</th><td>8am - 6pm</td></tr>
            <tr><th>Wednesday</th><td>8am - 6pm</td></tr>
            <tr><th>Thursday</th><td>8am - 6pm</td></tr>
            <tr><th>Friday</th><td>8am - 6pm</td></tr>
            <tr><th>Saturday</th><td>Closed</td></tr>
          </table>
          </div>
          <p id="getDirections3" class="dropdown-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d24446.93200839739!2d-105.23424179999999!3d40.01142945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc3c4b2249b%3A0xa0ffd9dd53fef542!2sCU%20Boulder%20East%20Campus%2C%20Boulder%2C%20CO!3m2!1d40.011186699999996!2d-105.2493373!4m5!1s0x876bec268b7e7305%3A0x93a1bfd86144a222!2sBoulder%20Food%20Rescue%2C%205749%20Arapahoe%20Ave%2C%20Boulder%2C%20CO%2080303!3m2!1d40.0160724!2d-105.2193705!5e0!3m2!1sen!2sus!4v1582475861025!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </p>
        </div>
      </div>
    </div>

    <!-- Cards  -->
    <div class="card">
    <div class="container">
      <h4 style="text-align:left;"><b>
        Community Food Share
        <span style="float:right;">
          0.0 miles
        </span>
      </b></h4>

      <div class="row">
      Tags:
      <div class = "column1">
        <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
      </div>
      <div class = "column2">
        <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
      </div>
      <div class = "column3">
        <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
      </div>
      <div class = "available">
        10/100 Spots Available
      </div>
        <div class = "leftbutton">
          <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo4')">MORE INFO</button>
        </div>
        <div class = "rightbutton">
          <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections4')">GET DIRECTIONS</button>
        </div>
          <div id="moreInfo4" class="dropdown-content">
          <p>
            Community Food Share is a food bank fighting hunger in Boulder and Broomfield Counties by providing access to fresh, nutritious food through local partners and its onsite and mobile pantries.
          <table>
            <tr><th>Sunday</th><td>Closed</td></tr>
            <tr><th>Monday</th><td>Closed</td></tr>
            <tr><th>Tuesday</th><td>Closed</td></tr>
            <tr><th>Wednesday</th><td>8am - 5pm</td></tr>
            <tr><th>Thursday</th><td>8am - 5pm</td></tr>
            <tr><th>Friday</th><td>8am - 5pm</td></tr>
            <tr><th>Saturday</th><td>Closed</td></tr>
          </table>
          </div>
          <p id="getDirections4" class="dropdown-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d48913.775588779834!2d-105.22108542451092!3d39.98362528081999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc3c4b2249b%3A0xa0ffd9dd53fef542!2sCU%20Boulder%20East%20Campus!3m2!1d40.011186699999996!2d-105.2493373!4m5!1s0x876bf05ec9394f15%3A0x1dc875e666c710f0!2sCommunity%20Food%20Share%2C%20650%20S%20Taylor%20Ave%2C%20Louisville%2C%20CO%2080027!3m2!1d39.9600589!2d-105.119374!5e0!3m2!1sen!2sus!4v1582476375525!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </p>
        </div>
      </div>
    </div>

    <!-- Cards  -->
    <div class="card">
    <div class="container">
      <h4 style="text-align:left;"><b>
        Sister Carmen Community Center Food Bank
        <span style="float:right;">
          0.0 miles
        </span>
      </b></h4>

      <div class="row">
      Tags:
      <div class = "column1">
        <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
      </div>
      <div class = "column2">
        <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
      </div>
      <div class = "column3">
        <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
      </div>
      <div class = "available">
        10/100 Spots Available
      </div>
        <div class = "leftbutton">
          <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo5')">MORE INFO</button>
        </div>
        <div class = "rightbutton">
          <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections5')">GET DIRECTIONS</button>
        </div>
          <div id="moreInfo5" class="dropdown-content">
          <p>
            Sister Carmen Community Center has provided assistance to residents of East Boulder County who are in need, without discrimination. As a Family Resource Center, we have implemented expanded services and enhanced programming based on the FRC model to empower our participants to become self-reliant. This model is a holistic, coordinated approach that supports the entire family as they take steps towards self-reliance in key areas that affect their stability.
          <table>
            <tr><th>Sunday</th><td>Closed</td></tr>
            <tr><th>Monday</th><td>9:30–11:30AM 1–4PM</td></tr>
            <tr><th>Tuesday</th><td>9:30–11:30AM 1–4PM</td></tr>
            <tr><th>Wednesday</th><td>1–6PM</td></tr>
            <tr><th>Thursday</th><td>9:30–11:30AM 1–4PM</td></tr>
            <tr><th>Friday</th><td>9:30–11:30AM 1–4PM</td></tr>
            <tr><th>Saturday</th><td>Closed</td></tr>
          </table>
          </div>
          <p id="getDirections5" class="dropdown-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d97793.14652764959!2d-105.17618940000001!3d40.007647250000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc3c4b2249b%3A0xa0ffd9dd53fef542!2sCU%20Boulder%20East%20Campus!3m2!1d40.011186699999996!2d-105.2493373!4m5!1s0x876bf48a69f47b9f%3A0xfd2e99df2dcad7c9!2sSister%20Carmen%20Community%20Center%20Food%20Bank%2C%20655%20Aspen%20Ridge%20Dr%2C%20Lafayette%2C%20CO%2080026!3m2!1d40.0034267!2d-105.1067468!5e0!3m2!1sen!2sus!4v1582476536067!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </p>
        </div>
      </div>
    </div>





	  <script src="../resources/js/dropDown.js"></script>
  </body>
</html>
