<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="../resources/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Josefin+Sans|Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = "langbar">
      Español | 官話 | Français
    </div>
    <div class = "content">
    <div class = "food">
      Food
      <div class = "bowl">
      <img src= "https://cdn.onlinewebfonts.com/svg/img_554169.png" height="70" width="90">
      </div>
      <div class = blurb>
      Are you looking for food? Click above to see a variety of shops, food banks, and restaurants.
      </div>
    </div>
    <div class = "shelter">
      Shelter
            <div class = "house">
      <img src= "https://image.flaticon.com/icons/svg/25/25694.svg" height="70" width="90">
      </div>
      <div class = blurb>
      Are you looking for shelter? Click above to see homeless shelters and housing resources.
      </div>
    </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
