<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="style.css" rel="stylesheet">
    <title>Page Title</title>
  </head>
  <body>
    <!--     Navigation Bar      -->
    <div class = "langbar">
      Español | 官話 | Français
    </div>

    <!-- Cards  -->

  <!-- Cards  -->
  <div class="card">
  <div class="container">
    <h4 style="text-align:left;"><b>
      Boulder Shelter
      <span style="float:right;">
        5.3 miles
      </span>
    </b></h4>

    <div class="row">
    Tags:
    <div class = "column1">
      <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
    </div>
    <div class = "column2">
      <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
    </div>
    <div class = "column3">
      <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
    </div>
    <div class = "available">
      55/100 Spots Available
    </div>
      <div class = "leftbutton">
        <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo2')">MORE INFO</button>
      </div>
      <div class = "rightbutton">
        <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections')">GET DIRECTIONS</button>
      </div>
      <p id="moreInfo2" class="dropdown-content">
         The Boulder Shelter for the Homeless creates avenues to stable housing for our community's homeless adults, from a foundation of supportive and safe shelter. <br>
      Saturday :  5PM–8AM<br> 
     Sunday :	 5PM–8AM<br> 
     Monday :	 5PM–8AM<br> 
     Tuesday :	 5PM–8AM <br>
     Wednesday :	 5PM–8AM<br>  
     Thursday :	 5PM–8AM<br>  
     Friday :	 5PM–8AM<br>   
      </p>
      <p id="getDirections" class="dropdown-content">
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d48876.81316082205!2d-105.30084939561794!3d40.035226196320636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc6cf259ffd%3A0x17d2ed29be964d55!2sJennie%20Smoly%20Caruthers%20Biotechnology%20Building%2C%20Colorado%20Avenue%2C%20Boulder%2C%20CO!3m2!1d40.008300999999996!2d-105.24905249999999!4m5!1s0x876bef1dcf4f4ab5%3A0xb8571480df28f13!2sBoulder%20Shelter%2C%20Broadway%2C%20Boulder%2C%20CO!3m2!1d40.0625883!2d-105.28261649999999!5e0!3m2!1sen!2sus!4v1582476654777!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </p>
      </div>
    </div>
    </div>
  </div>
<div class="card">
  <div class="container">
    <h4 style="text-align:left;"><b>
     Attention Homes Emergency Shelter: The Source
      <span style="float:right;">
        4.0 miles
      </span>
    </b></h4>

    <div class="row">
    Tags:
    <div class = "column1">
      <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
    </div>
    <div class = "column2">
      <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
    </div>
    <div class = "column3">
      <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
    </div>
    <div class = "available">
      55/100 Spots Available
    </div>
      <div class = "leftbutton">
        <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo3')">MORE INFO</button>
      </div>
      <div class = "rightbutton">
        <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections1')">GET DIRECTIONS</button>
      </div>
      <p id="moreInfo3" class="dropdown-content">
          Attention: Caring for each individual’s needs, perspectives, and experiences<br>
        Homes: A community where all are welcome, safe, and invited to contribute<br>
        Resourceful: Thoughtfully responsive to ever-changing needs and circumstances<br>
        Authentic: Meeting people where they are with integrity and transparency<br>
        Hopeful: Live knowing that people can achieve regardless of barriers<br>
        Inspired: Facilitating growth, transformation, and leadership. <br>
         Saturday :  10AM–4:30PM <br>
         Sunday :	 10AM–4:30PM <br>  
         Monday :	 11AM–7PM <br> 
         Tuesday :	 11AM–7PM <br> 
         Wednesday :	 11AM–7PM <br> 
         Thursday :	 11AM–7PM <br> 
         Friday :	 11AM–7PM <br>    
      </p>
      <p id="getDirections1" class="dropdown-content">
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3140785.1134417322!2d-104.98645414999999!3d39.758224850000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876c78e02966e361%3A0x19a04cefc42a9453!2sBlake%20St%2C%20Denver%2C%20CO!3m2!1d39.7608363!2d-104.98588339999999!4m5!1s0x876c78df05e2d7af%3A0xfd957b4d6c8c7e1b!2sSamaritan%20House%20Homeless%20Shelter--%20Catholic%20Charities%2C%202301%20Lawrence%20St%2C%20Denver%2C%20CO%2080205!3m2!1d39.755562999999995!2d-104.98795439999999!5e0!3m2!1sen!2sus!4v1582471838975!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </p>
      </div>
    </div>
    </div>
  </div>

<div class="card">
  <div class="container">
    <h4 style="text-align:left;"><b>
     Emergency Shelter Program
      <span style="float:right;">
        2.0 miles
      </span>
    </b></h4>

    <div class="row">
    Tags:
    <div class = "column1">
      <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
    </div>
    <div class = "column2">
      <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
    </div>
    <div class = "column3">
      <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
    </div>
    <div class = "available">
      55/100 Spots Available
    </div>
      <div class = "leftbutton">
        <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo4')">MORE INFO</button>
      </div>
      <div class = "rightbutton">
        <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections4')">GET DIRECTIONS</button>
      </div>
      <p id="moreInfo4" class="dropdown-content">
          We provide a warm bed, clean linens, and toiletries, a hot meal and community atmosphere, a case management and life skills classes, and community resources and referrals. They accept both men and women and will also accept families if there is space. <br>
            Saturday :  10AM–4:30PM <br>
            Sunday :	 10AM–4:30PM  <br>
            Monday :	 11AM–7PM <br> 
            Tuesday :	 11AM–7PM  <br>
            Wednesday :	 11AM–7PM  <br>
            Thursday :	 11AM–7PM  <br>
            Friday :	 11AM–7PM  <br>
      </p>
      <p id="getDirections4" class="dropdown-content">
         <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d12223.747521460324!2d-105.27443211305386!3d40.00985745584903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc6cf259ffd%3A0x17d2ed29be964d55!2sJennie%20Smoly%20Caruthers%20Biotechnology%20Building%2C%20Colorado%20Avenue%2C%20Boulder%2C%20CO!3m2!1d40.008300999999996!2d-105.24905249999999!4m5!1s0x876bec24eb9f13a7%3A0xf4fada1c1067872f!2sEmergency%20Shelter%20Program%2C%20929%20Marine%20St%2C%20Boulder%2C%20CO%2080302!3m2!1d40.0122214!2d-105.28231129999999!5e0!3m2!1sen!2sus!4v1582476473938!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </p>
      </div>
    </div>
    </div>
  </div>
<div class="card">
  <div class="container">
    <h4 style="text-align:left;"><b>
    Safehouse Progressive Alliance 
      <span style="float:right;">
        9.6 miles
      </span>
    </b></h4>

    <div class="row">
    Tags:
    <div class = "column1">
      <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
    </div>
    <div class = "column2">
      <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
    </div>
    <div class = "column3">
      <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
    </div>
    <div class = "available">
      55/100 Spots Available
    </div>
      <div class = "leftbutton">
        <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo5')">MORE INFO</button>
      </div>
      <div class = "rightbutton">
        <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections5')">GET DIRECTIONS</button>
      </div>
      <p id="moreInfo5" class="dropdown-content">
          We provide a warm bed, clean linens, and toiletries, a hot meal and community atmosphere, a case management and life skills classes, and community resources and referrals. They accept both men and women and will also accept families if there is space. <br>
          Saturday :  10AM–4:30PM <br>  
          Sunday :	 10AM–4:30PM <br> 
          Monday :	 11AM–7PM <br>  
          Tuesday :	 11AM–7PM <br> 
          Wednesday :	 11AM–7PM <br> 
          Thursday :	 11AM–7PM <br> 
          Friday :	 11AM–7PM <br> 
      </p>
      <p id="getDirections5" class="dropdown-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d97794.51123998863!2d-105.23900688939865!3d40.006694610936016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876bedc6cf259ffd%3A0x17d2ed29be964d55!2sJennie%20Smoly%20Caruthers%20Biotechnology%20Building%2C%20Colorado%20Avenue%2C%20Boulder%2C%20CO!3m2!1d40.008300999999996!2d-105.24905249999999!4m5!1s0x876bf4fb6adae3d5%3A0xbfaf17434956b387!2s400%20E%20Simpson%20St%20%23201%2C%20Lafayette%2C%20CO%2080026!3m2!1d39.9980195!2d-105.0864055!5e0!3m2!1sen!2sus!4v1582476256778!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </p>
      </div>
    </div>
    </div>
  </div>
	  <script src="script.js"></script>
  </body>
</html>
