<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="../resources/css/cards.css" rel="stylesheet">
    <title>Page Title</title>
  </head>
  <body>
    <!--     Navigation Bar      -->
    <div class = "langbar">
      Español | 官話 | Français
    </div>

    <!-- Cards  -->
    <div class="card">
    <div class="container">
      <h4 style="text-align:left;"><b>
        Food Bank
        <span style="float:right;">
          0.0 miles
        </span>
      </b></h4>

      <div class="row">
      Tags:
      <div class = "column1">
        <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
      </div>
      <div class = "column2">
        <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
      </div>
      <div class = "column3">
        <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
      </div>
      <div class = "available">
        55/100 Spots Available
      </div>
        <div class = "leftbutton">
          <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo1')">MORE INFO</button>
        </div>
        <div class = "rightbutton">
          <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections1')">GET DIRECTIONS</button>
        </div>
        <p id="moreInfo1" class="dropdown-content">
            The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly but gets faster each minute after you hear this signal bodeboop. A sing lap should be completed every time you hear this sound. ding Remember to run in a straight line and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark. Get ready!… Start.
        </p>
        <p id="getDirections1" class="dropdown-content">
            The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly but gets faster each minute after you hear this signal bodeboop. A sing lap should be completed every time you hear this sound. ding Remember to run in a straight line and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark. Get ready!… Start.
        </p>
        </div>
      </div>
    </div>

  <!-- Cards  -->
  <div class="card">
  <div class="container">
    <h4 style="text-align:left;"><b>
      Food Bank
      Good Samaritan Charity
      <span style="float:right;">
        0.0 miles
      </span>
    </b></h4>

    <div class="row">
    Tags:
    <div class = "column1">
      <img src = "https://icons.iconarchive.com/icons/custom-icon-design/flatastic-7/256/Female-icon.png" width= 30 height = 30>
    </div>
    <div class = "column2">
      <img src = "https://cdn2.iconfinder.com/data/icons/family-19/100/family-10-512.png" width= 30 height = 30>
    </div>
    <div class = "column3">
      <img src = "https://cdn0.iconfinder.com/data/icons/simple-icons-ii/69/04-512.png" width= 30 height = 30>
    </div>
    <div class = "available">
      55/100 Spots Available
    </div>
      <div class = "leftbutton">
        <button class="btn btn-secondary btn-sm" type="moreInfo" onclick = "showMenu('moreInfo2')">MORE INFO</button>
      </div>
      <div class = "rightbutton">
        <button class="btn btn-secondary btn-sm" type="getdirections" onclick = "showMenu('getDirections2')">GET DIRECTIONS</button>
      </div>
      <p id="moreInfo2" class="dropdown-content">
          The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly but gets faster each minute after you hear this signal bodeboop. A sing lap should be completed every time you hear this sound. ding Remember to run in a straight line and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark. Get ready!… Start.
      </p>
      <p id="getDirections2" class="dropdown-content">
          We provide a warm bed, clean linens, and toiletries, a hot meal and community atmosphere, a case management and life skills classes, and community resources and referrals. They accept both men and women and will also accept families if there is space.
      </p>
      <p id="getDirections2" class="dropdown-content">
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3140785.1134417322!2d-104.98645414999999!3d39.758224850000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x876c78e02966e361%3A0x19a04cefc42a9453!2sBlake%20St%2C%20Denver%2C%20CO!3m2!1d39.7608363!2d-104.98588339999999!4m5!1s0x876c78df05e2d7af%3A0xfd957b4d6c8c7e1b!2sSamaritan%20House%20Homeless%20Shelter--%20Catholic%20Charities%2C%202301%20Lawrence%20St%2C%20Denver%2C%20CO%2080205!3m2!1d39.755562999999995!2d-104.98795439999999!5e0!3m2!1sen!2sus!4v1582471838975!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </p>
      </div>
    </div>
  </div>

	  <script src="../resources/js/dropDown.js"></script>
  </body>
</html>
